@keyframes move {
    from {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    to {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
}

.main {
    position: relative;
}

.svg {
    left: 50%;
    position: absolute;
    transform-origin: 0 300vh;
    will-change: transform;
    animation: move 48s linear infinite;
}
.svg2 {
    left: 90%;
    position: absolute;
    transform-origin: 0 260vh;
    will-change: transform;
    animation: move 52s linear infinite;
}
