.citycontent {
    padding: 2rem;
}
.mobilehr {
    display: none;
}
.hotelstitle {
    font-size: 2rem;
}
.hoteltitle {
    font-size: 1.5rem;
    font-weight: 700;
}
.hotelimage {
    width: 100%;
}
.cityform {
    max-width: 1200px;
    min-height: 120px;
    margin: 0 auto;
    position: relative;
}
.submitbutton {
    margin-top: 1rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
@media only screen and (max-width: 600px) {
    .citycontent {
        padding: 1rem;
    }
    .mobilehr {
        display: block;
    }
}
