@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
.bigshadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
#flightSearch + ul {
    max-height: 0;
    transition: 0.3s all;
}
#flightSearch:focus + ul {
    max-height: 700px;
}

.loader {
    text-align: center;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.3s infinite alternate;
    -moz-animation: loader 0.3s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
}
@keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}
