.minheightblock {
    min-height: 600px;
    padding: 3rem;
}
.reservationstitle {
    font-size: 3rem;
}
@media only screen and (max-width: 600px) {
    .minheightblock {
        padding: 1rem;
    }
    .reservationstitle {
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.entry {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);

    height: 30em;
    width: 30em;
    margin: 2em;
    background: white;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cancelButton {
    background-color: "white";
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    border: none;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2em;
    cursor: pointer;
    border-radius: 2px;

    transition: all 0.2s ease;
}

.cancelButton:hover {
    background-color: #ffd1d1;
}
