.navbar {
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 2;
}
.navbar-nav {
    padding-top: 0.25rem;
    font-size: 1.25rem;
}
.navbar-item {
    padding: 0 1rem;
    color: black !important;
    text-decoration: none !important;
}
.navbuttons {
    display: none;
}
.navbutton {
    padding: 8px 12px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    margin: 0px 0px 0px 15px;
    height: min-content;
}
.navicon {
    width: 15px;
    height: 15px;
}
@media only screen and (max-width: 600px) {
    .navbar {
        right: 15px;
    }
    .navbar-nav {
        display: none;
    }
    .navbuttons {
        display: flex;
        flex-direction: row;
    }
}
.navbox {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 0;
    height: 0;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s all;
}
.navboxactive {
    transition: 0.3s all;
    width: 210px;
    height: 132px;
}
.navboxicon {
    height: 15px;
    width: 15px;
}
.navboxlink {
    padding: 7px 15px;
    display: block;
    color: black;
    text-decoration: none !important;
    font-size: 1.25rem;
}
